# dependencies
node_modules/
serviceAccountKey.json

# build output
dist/

# env files
.env
.env.local
.env.*.local

# logs
*.log

# editor / system
.vscode/
.DS_Store

# local tools / temp files
tree_structure.txt
